<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042771702746-g49v0eo7uvei17h3u75rsueplftgs9se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042771702746-g49v0eo7uvei17h3u75rsueplftgs9se</string>
	<key>API_KEY</key>
	<string>AIzaSyCoGA_pQTLws-9X0oKPuPeG6mla1vxv6PU</string>
	<key>GCM_SENDER_ID</key>
	<string>1042771702746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.hoodDrip</string>
	<key>PROJECT_ID</key>
	<string>hooddrip-2460a</string>
	<key>STORAGE_BUCKET</key>
	<string>hooddrip-2460a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042771702746:ios:00ab61e2d287a03b</string>
	<key>DATABASE_URL</key>
	<string>https://hooddrip-2460a.firebaseio.com</string>
</dict>
</plist>
